table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid rgb(119, 116, 116);
    padding: 3px;
    color: rgb(59, 59, 59);
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #E6E6E6;
  }