.goods_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

/* .goods{
    display: flex;
    justify-content: start;
        margin: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
} */

.goods_inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px;
    border: 0;
    width: 190px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-bottom: 1px solid rgb(218, 214, 214);
    border-right: 1px solid rgb(218, 214, 214);
}
.goods_btn_container{
display: flex;
position: relative;
}
.goods_btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
/*     margin-left: 160px; */
position: absolute;
top: 0;
right: 0;
}

.goods_btn:hover {
    border-radius: 5px;
    background-color: rgba(164, 232, 209, 0.2);
}

.goods_btn_active .unlike {
    display: none;
}

.goods_btn_active .like {
    display: block;
}

.unlike {
    display: block;
}

.like {
    display: none;
}


.goods_img {
    position: relative;
    display: block;
    margin-bottom: 16px;
    text-align: center;
    margin-top: 35px;
}

.goods_img_picture {
    height: 100px;
    width: 140px;
}

.goods_title {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(74, 74, 74);
}
.goods_title:hover{
    color: red;
    text-decoration: underline;
}

.googs_price_na {
    color: darkgrey;
    margin: 16px 0px 16px 0px;
    font-size: 12px;
    text-decoration: line-through;
}

.goods_price_actual {
    color: red;
}

.goods_discription{
    color: rgb(49, 105, 27);
    margin: 16px 0px 5px 0px;
}