body {
    margin: auto;
    padding: auto;
}

.header {
    background-color: #221f1f;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
}

.layout {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.header-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #221f1f;
    color: #fff;
    border: none;
    padding: 5px 10px 10px;
    cursor: pointer;
    position: relative;
    font-size: 30px;

}

.header-menu:hover {
    background-color: rgb(62, 62, 62);
}

.logo-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 70px;
    margin-right: 15px;
}

.img-logo {
    margin-right: 10px;
}

.text-img-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-catalog {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.btn-catalog {
    display: flex;
    align-items: center;
    border: 0;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: rgb(97, 96, 96);
    cursor: pointer;
}

.btn-catalog:hover {
    background-color: rgb(141, 139, 139);
}

.catalog-btn-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.serch-from {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.serch-form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

.serch-form-img:hover {
    fill: rgb(37, 153, 46);
}

.input-search {
    width: 100%;
    border: none;
    height: 38px;
    outline: none;
    color: #7f7f7f;
    box-sizing: content-box;
}

.search-from-microphone {
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    padding-right: 10px;
    background-color: #fff;
    fill: #43a6d1;
}

.search-from-microphone:hover {
    fill: #dc6161;
}

.search-from-microphone::before {
    content: '';
    margin-right: 10px;
    height: 30px;
    border-left: 1px solid rgb(182, 180, 180);
    box-sizing: border-box;
}

.grean-search {
    height: 40px;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 0 20px 0 20px;
    color: #fff;
    background-color: rgb(37, 153, 46);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grean-search:hover {
    background-color: rgb(54, 172, 64);
}

.change-langune {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ru {
    border: none;
    background-color: #221f1f;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 15px;
}

.ru:hover {
    color: #fff;
}

.ru::after {
    content: '';
    border-left: 1px solid #8b8b8b;
    margin: 0 0px 0 5px;
}

.ua {
    background-color: #221f1f;
    border: none;
    padding: 5px 0px;
    color: #fff;
    cursor: pointer;
    /*     padding: 0; */
    font-size: 15px;
}

.ua:hover {
    color: #dc6161;
}

.header-actions {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.text-actions {
    margin: 0;
    color: #fff;
    color: rgb(69, 152, 221);
    background-color: rgb(197, 197, 36);
}

.text-actions-two {
    margin: 0;
    color: rgb(197, 197, 36);
    background-color: rgb(69, 152, 221);
}

.header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    fill: #f7f6f6;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    background-color: #221f1f;
}
.header-user-icon{
    width: 24px;
    height: 24px;
}

.header-user:hover {
    background-color: rgb(62, 62, 62);
}

.header-basket {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    background-color: #221f1f;
}
.header-basket-img{
    width: 24px;
    height: 24px;
}
.header-basket:hover {
    background-color: rgb(62, 62, 62);
}

.header-basket-img {
    fill: #fff;
}

@media screen and (max-width: 768px) {
    .btn-catalog {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .change-langune {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .text-img-name {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .header-catalog {
        display: none;
    }

}


@media screen and (max-width: 768px) {
    .header-actions  {
        display: none;
    }

}