.nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
}

.nav--open {
    left: 0;
}

.shadow {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .3;
    cursor: pointer;
}

.shadow--open {
    display: block;
}

.nav-logo-closed {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #221f1f;
    padding: 8px 8px 8px 16px;
}

.nav-logo-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.img-logo {
    color: aliceblue;
    width: 24px;
    height: 24px;
}

.nav-logo-img-name {
    width: 24px;
    height: 24px;
}

.nav-closed {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: #fff;
    background-color: #221f1f;
}

.nav-closed:hover {
    background-color: rgb(62, 62, 62);
}

.user-authorization {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #221f1f;
    box-sizing: border-box;
    padding: 10px 8px;
}

.img-log-border {
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(71, 69, 69);
    border-radius: 50%;
    margin-right: 20px;
}

.user-img {
    width: 25px;
    height: 25px;
}

.login-exit {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login {
    margin-bottom: 5px;
}

.login a::after {
    content: '|';
    color: white;
    margin-left: 10px;
}

.login a:last-child::after {
    display: none;
}

.exit-in {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.entrance-in {
    text-decoration: none;
    color: #fff;
}

.info-login {
    font-size: 13px;
    color: darkgrey;
}

.help-zsu {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(54, 172, 64);
    padding: 0 15px;
    margin-bottom: 10px;
}

.img-zsu {
    width: 30%;
    padding: 5px 8px;
    width: 25px;
    height: 35px;
}

.help-zsu-text {
    width: 50%;
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
}

.img-right-zsu {
    width: 15px;
    height: 15px;
    margin-left: 50px;
}

.nav-product-catalog {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 96.5%;
    box-sizing: border-box;
    margin: 5px 5px 10px;
    padding: 0 8px;
}

.nav-product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(241, 244, 241);
}

.nav-img-zsu {
    width: 30%;
    width: 22px;
    height: 32px;
}

.nav-zsu-text {
    width: 70%;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.nav-product-catalog:hover {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

.nav-product-catalog:hover .nav-product-img {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

.nav-basket {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 96.5%;
    box-sizing: border-box;
    margin: 5px 5px 10px;
    padding: 0 8px;
}

.nav-basket-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(241, 244, 241);
}

.nav-img-basket {
    width: 30%;
    width: 22px;
    height: 32px;
}

.nav-basket-text {
    width: 70%;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.nav-basket:hover .nav-basket-img {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

.nav-basket:hover {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

/* .nav-basket-img:hover {
    background-color: rgb(172, 204, 177);
} */

.nav-info {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 96.5%;
    box-sizing: border-box;
    margin: 5px 5px 10px;
    padding: 0 8px;
}

.nav-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(241, 244, 241);
}

.nav-img-info {
    width: 30%;
    width: 22px;
    height: 32px;
}

.nav-info-text {
    width: 70%;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.nav-info:hover {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

.nav-info:hover .nav-info-img {
    background-color: rgb(172, 204, 177);
    border-radius: 5px;
}

/* .nav-info-img:hover {
    background-color: rgb(172, 204, 177);
} */

.nav-langune-city {
    border-top: 0.5px solid rgb(231, 228, 228);
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
}

.nav-langune {
    padding: 15px 10px 20px 10px;
}

.nav-langune-text {
    margin-left: 8px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: rgb(96, 95, 95);
}

.nav-langune-ru {
    width: 45px;
    height: 35px;
    margin-left: 30px;
    background-color: #fff;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 5px;
    cursor: pointer;
}

.nav-langune-ru:hover {
    border: 1px solid rgb(54, 172, 64);
}

.nav-langune-ua {
    width: 45px;
    height: 35px;
    margin-left: 5px;
    background-color: rgb(54, 172, 64, 0.1);
    border: 1px solid rgb(54, 172, 64);
    border-radius: 5px;
    cursor: pointer;
}

.nav-city {
    display: flex;
    align-items: center;
    padding: 5px 10px 15px 10px;
}

.nav-city-text {
    margin-left: 8px;
    width: 40px;
    font-size: 15px;
    color: rgb(96, 95, 95);
}

.nav-city-kyiv {
    cursor: pointer;
    margin-left: 30px;
    background-color: #fff;
    font-size: 15px;
    border: none;
}

/* .nav-city-img{

} */

/* .nav-city-kyiv::after {
    content: '';
} */

.nav-in-company {
    margin-left: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.nav-in-company-text {
    color: rgb(96, 95, 95);
    padding: 10px 5px 10px 5px;

}

.nav-info-about-us {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;

}

.nav-info-terms-use {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-info-contact {
    position: relative;
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-info-contact::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 265px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
}

.nav-info-about-us:hover {
    text-decoration: underline;
}

.nav-info-terms-use:hover {
    text-decoration: underline;
}

.nav-info-contact:hover {
    text-decoration: underline;
}

.nav-in-help {
    color: rgb(96, 95, 95);
    padding: 15px 5px 10px 5px;
}

.nav-help-deliveri-pay {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-help-credit {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-help-guarantee {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-help-return-goods {
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-help-service-centers {
    position: relative;
    text-decoration: none;
    color: #221f1f;
    padding: 10px 5px 10px 5px;
}

.nav-help-service-centers::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 265px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
}

.nav-help-deliveri-pay:hover {
    text-decoration: underline;
}

.nav-help-credit:hover {
    text-decoration: underline;
}

.nav-help-guarantee:hover {
    text-decoration: underline;
}

.nav-help-return-goods:hover {
    text-decoration: underline;
}

.nav-help-service-centers:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.social-elem-facebook {}

.social-elem-facebook:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

.social-elem-twitter {
    margin-left: 15px;
}
.social-elem-twitter:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

.social-elem-youtube {
    margin-left: 15px;
}
.social-elem-youtube:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

.social-elem-instagram {
    margin-left: 15px;
}
.social-elem-instagram:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

.social-elem-viber {
    margin-left: 15px;
}
.social-elem-viber:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

.social-elem-telegram {
    margin-left: 15px;
}
.social-elem-telegram:hover{
    display: inline-block;
    font-size: 1px;
    color: white;
    transition: 5s;
    transform: rotate(360deg);
}

/* @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 */