.goods_card{
    display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 70px;
}
.goods{
    display: flex;
    justify-content: start;

        margin: 0;
        padding: 16px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        border-bottom: 1px solid rgb(218, 214, 214);
        border-right: 1px solid rgb(218, 214, 214);
        font-family: 'Ubuntu', sans-serif;
}
.goods_inner{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    width: 190px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.goods_btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 160px;
}
.unlike{
    display: block;
}
.like{
    display: none;
}
.goods_img{
    position: relative;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}
.goods_img_picture{
    height: 100px;
    width: 140px;
}
.goods_title{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    /*     font: inherit; */
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(29, 28, 28);
}
.googs_price_na{
    margin: 16px 0px 16px 0px;
    font-size: 12px;
    text-decoration: line-through;
}
.goods_price_actual{
    color: red;
}