*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(229, 234, 239, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main {
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    background-color: rgb(168, 163, 214);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.questions_main {

    width: 80%;
/*     height: 500px; */
}

h1 {
    font-size: 40px;
    color: rgb(111, 97, 75);
    width: 80%;
    margin: 20px 0 20px 0;
    text-align: center;


}

.que {

}

.que_vopros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    padding: 0 10px;
    width: 100%;
    min-height: 50px;
    background-color: rgb(230, 226, 226);
    margin-top: 20px;
    border-radius: 5px;
}

.que:last-child{
    margin-bottom: 50px;
}

.que_vopros_no_active{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.q-1 {
    margin-right: 10px;
    color: rgb(52, 54, 54);
}

.closed {
    /*     display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgb(55, 255, 0);
    color: brown;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.closed:hover {
    transition: 0.2s linear;
    background-color: rgb(209, 223, 13);
    color: black;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.plus:hover {
    transition: 0.2s linear;
    background-color: rgb(223, 34, 13);
    color: rgb(255, 255, 255);
}


.question_text {

    display: none;
    padding: 5px 10px;
    background-color: white;
    border-top: 1px solid rgb(152, 152, 152);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.question_text_active{

    display: block;
}

.text {

    color: rgb(97, 94, 94);
    line-height: 1.5rem;
}