*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: block;

}

.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
    text-align: center;
}

h2 {
    color: rgb(231, 82, 82);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: rgb(70, 69, 69);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section_center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.question {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: rgb(230, 229, 229);

}

.question_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;

}

.question_btn {
    /*     font-size: 1.5rem; */
    background: transparent;
    border-color: transparent;
    cursor: pointer;

}

.plus-icon {
    border: 2px solid rgb(222, 150, 63);
    padding: 0 3px;
    border-radius: 5px;
}
.plus-icon:hover{
background-color: rgb(254, 255, 255);
}

.plus {
    color: rgb(222, 150, 63);
    font-weight: bold;
    font-size: 15px;
}

.minus-icon {
/*     display: none; */
    border: 2px solid rgb(222, 150, 63);
    padding: 0 3px;
    border-radius: 5px;
}

.minus {
/*     display: none; */
    color: rgb(222, 150, 63);
    font-weight: bold;
    font-size: 15px;
}

/* .question_text {
    display: none;
}
.question_text_active {
    display: block;
    height: 20px;
} */



.question_text p {
    padding: 10px 0;
    color: rgb(45, 158, 219);
  }
  /* hide text */
  .question_text {
    display: none;
  }
  .show-text .question_text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus_icon {
    display: inline;
  }
  .show-text .plus_icon {
    display: none;
  }