body {
    margin: auto;
    padding: auto;
}

.header {
    background-color: #221f1f;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
}

.layout {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.header-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 15px;
}

.header-menu:hover {
    background-color: rgb(62, 62, 62);
}

.header-menu-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    display: inline-block;
    padding: 5px 10px 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.logo-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 70px;
    margin-right: 15px;
}

.img-logo {
    margin-right: 10px;
}

.text-img-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-catalog {
    margin-right: 20px;
}

.btn-catalog {
    display: flex;
    align-items: center;
    border: 0;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: rgb(97, 96, 96);
    cursor: pointer;
}

.btn-catalog:hover {
    background-color: rgb(141, 139, 139);
}

.catalog-btn-icon {
    fill: #f9f4f4;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.button-libel {}

.header-search {
    position: relative;
    display: flex;
    align-items: center;
}

.serch-from {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    padding-right: 10px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    fill: #8b8b8b;

}

.input-search {
    width: 100%;
    border: none;
    height: 38px;
    padding-right: 200px;
}

.search-from-microphone {
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    padding-right: 10px;
    background-color: #fff;
    fill: #8b8b8b;
}

.search-from-microphone::before {
    content: '';
    margin-right: 10px;
    height: 30px;
    border-left: 1px solid rgb(182, 180, 180);
    box-sizing: border-box;
}

.grean-search {
    height: 40px;
    cursor: pointer;
    border: none;
    text-align: center;
    padding-right: 10px;
    background-color: rgb(37, 153, 46);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-grean {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.grean-search:hover {
    background-color: rgb(54, 172, 64);
}

.header-actions {
    display: flex;
    flex-direction: column;

    margin-left: 15px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}

.text-actions {
    margin: 0;
    color: #fff;
    color: rgb(69, 152, 221);
    background-color: rgb(197, 197, 36);
}

.text-actions-two {
    margin: 0;
    color: rgb(197, 197, 36);
    background-color: rgb(69, 152, 221);
}