@import url(./heder.css);
@import url(./main.css);
@import url(./footer.css);




body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(247, 244, 244);
    font-family: 'Ubuntu', sans-serif;
  }

