* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: hsl(210, 36%, 96%);
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.tatle {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin: 0 auto;
    color: rgb(36, 40, 50);
    line-height: 1;
    font-weight: 700;
}

.underline {
    margin-top: 12px;
    width: 80px;
    height: 4px;
    background: hsl(205, 78%, 60%);
}

.rewiew {
    text-align: center;
    width: 620px;
    margin-top: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 24px 32px;
}

.img_container {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

.img_container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: hsl(205, 78%, 60%);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
}

.img_container::after {
    content: "\f10e";
    font-family: Fontawesome;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: hsl(205, 78%, 60%);
    color: white;
}

.person_img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.author {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: rgb(36, 40, 50);
    margin-bottom: 5px;
    line-height: 1;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    background-color: white;
    text-transform: capitalize;
}


.job {
    display: flex;
    justify-content: center;
    color: hsl(205, 78%, 60%);
    font-size: 15px;
    margin-bottom: 10px;
    background-color: white;
    text-transform: uppercase;
}

.info {
    margin-bottom: 15px;
    background-color: white;
    color: rgb(74, 84, 103);
    letter-spacing: 1.5px;
    height: 80px;
}

.button_container {
    margin-bottom: 10px;
    background-color: white;
}

.prev_btn {
    margin: 0 8px;
    border: none;
    background-color: white;
}

.left_svg {
    cursor: pointer;
    background-color: white;
    fill: hsl(205, 78%, 60%);
}


.next_btn {
    margin: 0 8px;
    border: none;
    background-color: white;
}

.right_svg {
    cursor: pointer;
    background-color: white;
}

.right_svg:hover {
    fill: red;
    transition: 0.8s
}

.random_btn {
    margin-top: 0.5rem;
    background: hsl(205, 100%, 96%);
    color: hsl(205, 78%, 60%);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    border-color: hsl(205, 78%, 60%);
    cursor: pointer;
}

.random_btn:hover {
    background: hsl(205, 78%, 60%);
    color: white;
}