.test {
    width: 800px;
    height: 100px;
    background-color: yellow;
    margin: 50px auto;
    position: relative;
}

.test2 {
    width: 10px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 399px;    
    top: 0;
}