.test{
    width: 300px;
    margin: 0 auto;
    background-color: rgb(238, 233, 226);
    padding: 20px;
    border-radius: 4px;
}

.top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(96, 213, 174);
    color: aliceblue;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.top:hover{
    background-color: rgb(96, 195, 162);
}
