*{
    margin: 0 auto;
}
.my_slide{
    width: 1080px;
    height: 1248px;
    border: 4px solid black;
    position: relative;
}

.one, .two {
    width: 1080px;
    height: 1248px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.one{
    background-color: yellow;
}

.two{
    background-color: blue;
}